.avatars {
    display: inline-flex;

    padding-left:60px;
}

.avatar {
    margin-left: -20px;
    position: relative;
    border:1px solid #fff;
    border-radius: 50%;
    overflow:hidden;
    width:30px;
    height:30px;
}

.avatar img {
    width:30px;
    height:30px;
}